In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokedex_mastermind.csv')
df.head(3)

,Unnamed: 0,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5

Creado backup del dataframe

In [3]:
df_backup = df.copy(deep=True)

Elimino la 1ª columna "Unnamed: 0"

In [46]:
df = df.drop('Unnamed: 0', axis=1)

Listado de columnas

In [8]:
df.columns

Index(['pokedex_number', 'name', 'generation', 'status', 'type_1', 'type_2',
       'height_m', 'weight_pounds', 'hp', 'attack', 'defense', 'sp_attack',
       'sp_defense', 'speed', 'catch_rate', 'percentage_male',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy'],
      dtype='object')

## 1. ¿Cuál es el tipo de pokemon más común?

In [31]:
tipos = df['type_1'].value_counts()
tipos

WATER       134
NORMAL      115
GRASS        91
BUG          81
PSYCHIC      81
FIRE         65
ELECTRIC     62
ROCK         60
DARK         46
GHOST        42
FIGHTING     42
POISON       41
GROUND       41
DRAGON       41
ICE          37
STEEL        36
FAIRY        22
FLYING        8
Name: type_1, dtype: int64

In [42]:
most_common_type = tipos[tipos == tipos.max()]
print(f'El tipo de pokemon más común es el tipo {most_common_type.index[0].capitalize()}, con {most_common_type.values[0]} ejemplares.')

El tipo de pokemon más común es el tipo Water, con 134 ejemplares.

## 2. ¿Cuál es el número de pokemons legendarios en cada generación?

In [9]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

La columna `status` guarda el tipo de pokemon

In [10]:
df['status'].unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

In [29]:
df['status'].value_counts()

Normal           918
Sub Legendary     55
Legendary         42
Mythical          30
Name: status, dtype: int64

In [30]:
legendarios = df['status'].value_counts().loc['Legendary']
print(f'Existen {legendarios} pokemon legendarios.')

Existen 42 pokemon legendarios.

### 4. El tipo de pokemon más poderoso

In [43]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

Limpio las columnas para rechazar las columnas de ataque contra otros tipos

In [47]:
list(df.columns).index('against_normal')

16

In [48]:
clean_columns = list(df.columns)[:16]
df2 = df[clean_columns]
df2.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,49,65,65,45,45.0,87.5%
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,63,80,80,60,45.0,87.5%
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,83,100,100,80,45.0,87.5%
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5%
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,43,60,50,65,45.0,87.5%

In [50]:
attack_points = df2[['type_1','attack']].sort_values('attack', ascending=False)
attack_points

      type_1  attack
194  PSYCHIC     190
264      BUG     185
931    GRASS     181
462   GROUND     180
464   DRAGON     180
..       ...     ...
294   NORMAL      10
262      BUG      10
166    WATER      10
526   NORMAL       5
147   NORMAL       5

[1045 rows x 2 columns]

In [57]:
most_powerful = attack_points.iloc[0]
most_powerful_type = most_powerful['type_1'].capitalize()
most_powerful_attack = most_powerful['attack']
print(f'The most powerful pokemon type is {most_powerful_type}, with {most_powerful_attack} attack points.')

The most powerful pokemon type is Psychic, with 190 attack points.

### 5. ¿Cuáles son los pokemon más grandes? ¿Y los más pesaados? ¿Y los menos densos?

In [58]:
df2.columns

Index(['pokedex_number', 'name', 'generation', 'status', 'type_1', 'type_2',
       'height_m', 'weight_pounds', 'hp', 'attack', 'defense', 'sp_attack',
       'sp_defense', 'speed', 'catch_rate', 'percentage_male'],
      dtype='object')

In [61]:
tallest_pokemons = df[['name', 'height_m']].sort_values('height_m', ascending=False).head(3)
heaviest_pokemons = df[['name', 'weight_pounds']].sort_values('weight_pounds', ascending=False).head(3)
#densest_pokemons = df[['name', 'height_m']].sort_values('height_m')

Los 3 pokemon más grandes son:

In [62]:
tallest_pokemons

                     name  height_m
1033  Eternatus Eternamax     100.0
1032            Eternatus      20.0
386               Wailord      14.5

Los 3 pokemon más pesados son:

In [63]:
heaviest_pokemons

               name  weight_pounds
930      Celesteela    2204.399538
923         Cosmoem    2204.399538
462  Primal Groudon    2203.958614

In [64]:
df2.columns

Index(['pokedex_number', 'name', 'generation', 'status', 'type_1', 'type_2',
       'height_m', 'weight_pounds', 'hp', 'attack', 'defense', 'sp_attack',
       'sp_defense', 'speed', 'catch_rate', 'percentage_male'],
      dtype='object')

### 6. ¿Cuántos pokemons son machos y cuántos son hembras?

Creo columna con porcentaje de macho en formato numérico

In [37]:
df['percentage_male_numeric'] = df['percentage_male'].apply(lambda x: float(x.replace('%', '')) )
df['percentage_male_numeric'].head()

0    87.5
1    87.5
2    87.5
3    87.5
4    87.5
Name: percentage_male_numeric, dtype: float64

In [38]:
male_pokemons = df[df['percentage_male_numeric'] == 100]
female_pokemons = df[df['percentage_male_numeric'] == 0]
male_number = male_pokemons.shape[0]
female_number = female_pokemons.shape[0]

In [39]:
print(f'Hay {male_number} pokemon masculinos y {female_number} femeninos.')

Hay 29 pokemon masculinos y 210 femeninos.

In [84]:
is_male = df['percentage_male_numeric'] == 100
is_female = df['percentage_male_numeric'] == 0
totally_gender_defined_pokemons = df[is_male | is_female]

In [82]:
def gender_assignment(numeric_gender):
       
    if numeric_gender == 100:
        gender = 'male'
    elif numeric_gender == 0:
        gender = 'female'
    else:
        gender = 'undefined'
    return gender

In [105]:
df['gender'] = df['percentage_male_numeric'].apply(gender_assignment)
df_gender = df.drop(['percentage_male_numeric', 'percentage_male'], axis=1)

In [104]:
df_gender

Empty DataFrame
Columns: []
Index: [Abomasnow, AbomasnowMega Abomasnow, Abra, Absol, AbsolMega Absol, Accelgor, Aegislash Blade Forme, Aegislash Shield Forme, Aerodactyl, AerodactylMega Aerodactyl, Aggron, AggronMega Aggron, Aipom, Alakazam, AlakazamMega Alakazam, Alcremie, Alolan Diglett, Alolan Dugtrio, Alolan Exeggutor, Alolan Geodude, Alolan Golem, Alolan Graveler, Alolan Grimer, Alolan Marowak, Alolan Meowth, Alolan Muk, Alolan Ninetales, Alolan Persian, Alolan Raichu, Alolan Raticate, Alolan Rattata, Alolan Sandshrew, Alolan Sandslash, Alolan Vulpix, Alomomola, Altaria, AltariaMega Altaria, Amaura, Ambipom, Amoonguss, Ampharos, AmpharosMega Ampharos, Anorith, Appletun, Applin, Araquanid, Arbok, Arcanine, Arceus, Archen, Archeops, Arctovish, Arctozolt, Ariados, Armaldo, Aromatisse, Aron, Arrokuda, Articuno, Ash-Greninja, Audino, AudinoMega Audino, Aurorus, Avalugg, Axew, Azelf, Azumarill, Azurill, Bagon, Baltoy, Banette, BanetteMega Banette, Barbaracle, Barboach, Barraskewda, Basculin Blue-Striped Form, Basculin Red-Striped Form, Bastiodon, Bayleef, Beartic, Beautifly, Beedrill, BeedrillMega Beedrill, Beheeyem, Beldum, Bellossom, Bellsprout, Bergmite, Bewear, Bibarel, Bidoof, Binacle, Bisharp, Blacephalon, Black Kyurem, Blastoise, BlastoiseMega Blastoise, Blaziken, BlazikenMega Blaziken, Blipbug, ...]

[1045 rows x 0 columns]